doctype html
html
  head
    title  NGO Registration Form
    style.
      body{
      background: url(poverty-child-ap.jpg);
      background-size: cover;
      font-family: sans-serif;
      }
      .wrap{
      max-width: 350px;
      border-radius: 20px;
      margin:auto;
      background: rgba(0,0,0,0.8);
      box-sizing: border-box;
      padding: 40px;
      color:#fff;
      margin-top: 100px;
      }
      h2{
      text-align: center;
      }
      input[type=text],input[type=password]{
      width:100%;
      box-sizing: border-box;
      padding: 12px 5px;
      background: rgba(0,0,0,0.10);
      outline: none;
      border: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      font-weight: bold;
      }
      input[type=submit]{
      width:100%;
      box-sizing: border-box;
      padding: 10px 0;
      margin-top: 30px;
      outline: none;
      border: none;
      background: #60adde;
      border-radius: 20px;
      font-size: 20px;
      color: #fff;
      border-bottom: 1px dotted #fff;
      color: #fff;
      border-radius: 10px;
      margin: 5px;
      font-weight: bold;
      }
  body
    .wrap
      h2  Sign Up as an NGO
      form(action='#', method='post', onsubmit='return validateform();')
        input#USERNAME.input(type='text', placeholder='Username', required='')
        input#PASSWORD.input(type='password', placeholder='Password', required='')
        input#NGONAME.input(type='text', placeholder="NGO's Name", required='')
        input#PHONENUMBER.input(type='text', placeholder='Phone Number', required='')
        input#DIRECTORSNAME.input(type='text', placeholder="Director's Name", required='')
        input#DIRECTORSPHONENUMBER.input(type='text', placeholder="Director's Phone Number", required='')
        input#EMAILID.input(type='text', placeholder='Email ID', required='')
        input#ADDRESS.input(type='text', placeholder='Address', required='')
        input.input(type='submit', value='Submit')
    script.
      function passid_validation(passid,mx,my)
      {
      var passid_len = passid.length;
      if (passid_len == 0 ||passid_len >= my || passid_len < mx)
      {
      alert("Password should not be empty / length be between "+mx+" to "+my);
      return false;
      }
      return true;
      }
      function allLetter(uname)
      {
      var letters = /^[A-Za-z]+$/;
      if(uname.match(letters))
      {
      return true;
      }
      else
      {
      alert('Username must have alphabet characters only');
      return false;
      }
      }
      function alphanumeric(uadd)
      {
      var letters = /^[0-9a-zA-Z]+$/;
      if(uadd.match(letters))
      {
      return true;
      }
      else
      {
      alert('User address must have alphanumeric characters only');
      return false;
      }
      }
      function ValidateEmail(uemail)
      {
      var mailformat = /^\\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if(uemail.match(mailformat))
      {
      return true;
      }
      else
      {
      alert("You have entered an invalid email address!");
      return false;
      }
      }
      function Validatephone(uphone)
      {
      var regx=/^[7-9]\\d{9}$/;
      if(uphone.match(regx))
      {
      return true;
      }
      else
      {
      alert("You have entered an invalid phone number");
      return false;
      }
      }
      // Email validation 
      function validateform()
      {
      var uid=document.getElementById("USERNAME").value;
      var passid=document.getElementById("PASSWORD").value;
      var uname=document.getElementById("NGONAME").value;
      var phone1=document.getElementById("PHONENUMBER").value;
      var vname=document.getElementById("DIRECTORSNAME").value;
      var phone2=document.getElementById("DIRECTORSPHONENUMBER").value;
      var uemail=document.getElementById("EMAILID").value;
      var uadd=document.getElementById("ADDRESS").value;
      if(passid_validation(passid,7,12)==false)
      {
      return false;
      }
      if(allLetter(uname)==false)
      {
      return false;
      }
      if(alphanumeric(uadd)==false)
      {
      return false;
      }
      if(allLetter(vname)==false)
      {
      return false;
      }
      if(Validatephone(phone1)==false)
      {
      return false;
      }
      if(ValidateEmail(uemail)==false)
      {
      return false;
      }
      if(Validatephone(phone2)==false)
      {
      return false;
      }
      return true;
      }
