doctype html
html
  head
    style.
      body
      {
      background-image: url('street.jpg');
      background-size: cover;
      }
      table, th, td {
      width:80%;
      margin:auto;
      border:1px solid white;
      border-collapse:collapse;
      text-align:center;
      font-size:20px;
      table-layout:fixed;
      background:pink;
      opacity:0.5;
      color:black;
      }
      th, td {
      padding:10px;
      opacity:0.9;
      }
  body
    h1(align='center')
    table(align='center', cellpading='10', cellspacing='10', border='1px')
      tbody#avail
        tr
          td(align='center') Need Id
          td(align='center') Address
          td(align='center') Food Available for
          td(align='center') Donor Name
          td(align='center') Donor Contact No
          td(align='center') Food Type
          td(align='center') Required
        each val in list
          tr
            td(align='center') #{val._id}
            td(align='center') #{val.postedBy.Address}
            td(align='center') #{val.total_person_served}
            td(align='center') #{val.postedBy.Name}
            td(align='center') #{val.postedBy.Phone}
            td(align='center') #{val.type_of_food}
            td(align='center') 
              input.input(type='text', placeholder='Need')
    input.input(type='submit', value='SUBMIT', id = 'submit')
    script(src='/js/Status.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        