doctype html
html
  head
    style.
      body{
      background: url(poverty-child-ap.jpg);
      background-size: cover;
      font-family: sans-serif;
      }
      .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      /* Hide the browser's default checkbox */
      .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      }
      /* Create a custom checkbox */
      .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      }
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
      background-color: #ccc;
      }
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
      background-color: #2196F3;
      }
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      }
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
      display: block;
      }
      /* Style the checkmark/indicator */
      .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      }
      body
      {
      background-image: url('poverty-1.jpg');
      background-size: cover;
      }
      table, th, td {
      width:80%;
      margin:auto;
      border:1px solid white;
      border-collapse:collapse;
      text-align:center;
      font-size:20px;
      table-layout:fixed;
      background:pink;
      opacity:0.5;
      color:black;
      }
      th, td {
      padding:20px;
      opacity:0.9;
      }
      .button {
      background-color: #4CAF50;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      opacity:0.6;
      }
  body
    h1(align='center') Select to Remove
    table(align='center', cellpading='10', cellspacing='10', border='1px')
      tbody#status 
        tr
          td(align='center')
            h2 Availability Id
          td(align='center')
            h2 Donor Name
          td(align='center')
            h2 Address
          td(align='center')
            h2 Contact Number
          td(align='center')
            h2 Count
          td(align='center') 
            h2 Select
        each val in all
          tr
            td(align='center') #{val._id}
            td(align='center') #{val.alloted.Name}
            td(align='center') #{val.alloted.Address}
            td(align='center') #{val.alloted.Phone}
            td(align='center') #{val.total_person_served}
            td(align='center') 
              input.input(type='checkbox')
    input.input(type='submit', value='SUBMIT', id = 'submit')
    script(src='/js/Status.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')


        
